<div class="grid-gallery">
    <app-card *ngFor="let imgs of images" (imagen)="enviarImagen( $event )" data-toggle="modal" data-target="#exampleModal" class="grid-gallery__item" [img]="imgs.img" [valor]="imgs.valor"></app-card>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{valorB}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <img src="{{imagen}}" alt="" style="width: 350px;">
            </div>
        </div>
    </div>
</div>