<div class="grid-gallery">

    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
    <app-card class="grid-gallery__item"></app-card>
</div>