<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a style="font-size: 30px;" class="navbar-brand" href="#">  Alma Crochet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-auto" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/alma__crochet/">Contactame</a>
            </li>
        </ul>
    </div>
</nav>